﻿@{
    ViewBag.Title = "CreatePozo";
}

<h2>Crear Pozo</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/PozoPetrolero/create" method="post">

            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" name="Nombres" class="form-control" placeholder="Nombre" />
            </div>
            <div class="form-group">
                <label for="">Propietario:</label>
                <input type="text" name="Propietario" class="form-control" placeholder="Apellido Paterno" />
            </div>

            <div class="form-group">
                <label for="">Ubicación:</label>
                <input type="text" name="Ubicación" class="form-control" placeholder="Apellido Materno" />
            </div>

            <div class="form-group">
                <label for="">Coordena Este:</label>
                <input type="text" name="CoordenaEste" class="form-control" placeholder="Sexo" />
            </div>

            <div class="form-group">
                <label for="">Coordena Norte:</label>
                <input type="text" name="CoordenaNorte" class="form-control" placeholder="Celular" />
            </div>

            <button class="btn btn-primary">
                  <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Guardar</button>
             
             <a href="/Postulante/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
        </form>
    </div>

</div>

